@import url(//fonts.googleapis.com/css?family=Abhaya+Libre);
@import url(//fonts.googleapis.com/css?family=Cormorant+Garamond);
@import url(//fonts.googleapis.com/css?family=Indie+Flower);

.main{
    background-color: lightpink;
    color: red;
    border-style: dotted; 
    font-family: 'Indie+Flower', sans-serif;
}

.second{
    font-family: 'Abhaya+Libre', sans-serif;
    color: lightblue;
}
.third{ 
    font-family: 'Cormorant+Garamond', sans-serif;
    color: blue;
}